@import "tailwindcss";

@font-face {
	font-family: "Gambarino";
	src: url("/fonts/Gambarino/Gambarino_Complete/Fonts/WEB/fonts/Gambarino-Regular.woff2") format("woff2"),
		url("/fonts/Gambarino/Gambarino_Complete/Fonts/WEB/fonts/Gambarino-Regular.woff") format("woff"),
		url("/fonts/Gambarino/Gambarino_Complete/Fonts/OTF/Gambarino-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Switzer";
	src: url("/fonts/Switzer/Switzer_Complete/Fonts/WEB/fonts/Switzer-Regular.woff2") format("woff2"),
		url("/fonts/Switzer/Switzer_Complete/Fonts/WEB/fonts/Switzer-Regular.woff") format("woff"),
		url("/fonts/Switzer/Switzer_Complete/Fonts/OTF/Switzer-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Switzer";
	src: url("/fonts/Switzer/Switzer_Complete/Fonts/WEB/fonts/Switzer-Medium.woff2") format("woff2"),
		url("/fonts/Switzer/Switzer_Complete/Fonts/WEB/fonts/Switzer-Medium.woff") format("woff"),
		url("/fonts/Switzer/Switzer_Complete/Fonts/OTF/Switzer-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Switzer";
	src: url("/fonts/Switzer/Switzer_Complete/Fonts/WEB/fonts/Switzer-Bold.woff2") format("woff2"),
		url("/fonts/Switzer/Switzer_Complete/Fonts/WEB/fonts/Switzer-Bold.woff") format("woff"),
		url("/fonts/Switzer/Switzer_Complete/Fonts/OTF/Switzer-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--background: #fdf2f8;
	--foreground: #4a5568;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Switzer", sans-serif;
}

@theme {
	--font-display: "Gambarino", serif;
	--font-body: "Switzer", sans-serif;
}

@plugin "@toolwind/corner-shape";
