---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AppLayout from "@/layouts/AppLayout.astro";
import { RoughNotation, RoughNotationGroup } from "react-rough-notation";
import { Button } from "@/components/ui/button";
import AIPersonaButton from "@/components/ai-persona-button";
import {
  TooltipProvider,
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from "@/components/ui/tooltip";
import { Skull } from "@lucide/astro";
---

<AppLayout>
  <div class="flex flex-col gap-8 text-white">
    <div class="flex flex-col gap-4">

	  <Footer client:only/>
	        <div class="flex gap-4 items-center text-white/60">
        <p class="font-gaegu text-2xl">Welcome :)</p>
        <img src="/confetti.avif" class="w-6 h-6" alt="" />
      </div>
      <p class="text-white/80">
        Hi, Im Neha, a Computer Science Undergrad from Lovely Professional
        University by day and a curious writer by night. I work at Random
        Solutions, crafting intuitive user experiences. Here, I share my
        thoughts on design, engineering, AI, and the random sparks of
        inspiration that keep me going.
      </p>
    </div>

    <div>
      <AIPersonaButton client:load />
    </div>

    <div class="flex flex-col gap-4"></div>
    <p class="font-gaegu text-xl text-white/60">Links</p>
    <div>
      <p>GitHub</p>
      <p>GitHub</p>
      <p>GitHub</p>
    </div>
  </div>
</AppLayout>
