---
import { AnimatedTabs } from "./ui/animated-tabs";

const TABS = ["projects", "canvas", "blog"];
---

<header class="border-b border-black/20">
  <nav class="max-w-3xl mx-auto p-4 flex items-center justify-between">
	<div class="flex items-center gap-2">
		<img src="/stars.png" class="w-7 aspect-square" alt="">

		<p class="font-gaegu text-xl">nehak.site</p>
	</div>

    <AnimatedTabs client:only tabs={TABS} />
  </nav>
</header>
